<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mapperとxmlマッピング-->
<mapper namespace="com.example.ninthhomework.CharactersMapper">
    <select id="findMany" resultType="com.example.ninthhomework.Characters">
        SELECT
        *
        FROM
        characters
    </select>
</mapper>

