<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ninthhomework.mapper.CharactersMapper">
    <select id="findAll" resultType="com.example.ninthhomework.domain.user.model.Characters">
        SELECT * FROM characters
    </select>
    <select id="searchByAge" resultType="com.example.ninthhomework.domain.user.model.Characters">
        SELECT * FROM characters WHERE age > #{age}
    </select>
    <insert id="createCharacter" parameterType="com.example.ninthhomework.domain.user.model.Characters"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO characters(name,age) VALUES(#{name},#{age})
    </insert>
</mapper>

